footer
  .container.text-center
    p.pull-left Created by: 
      a(href='https://www.linkedin.com/in/justinmlien')
        i(class='fa fa-linkedin-square', aria-hidden='true')  Justin Lien
    ul.pull-right.list-inline
      li
        a(href='https://github.com/JustinLien/projects')
          i(class='fa fa-github')
      li
        a(href='https://github.com/JustinLien/projects/issues') 
          i(class='fa fa-bug')